# Ignorar todo el contenido de la carpeta de medios
media/musica/*
media/videos/*

# Pero permitir que se suba el archivo .gitkeep para que la carpeta exista en GitHub
!media/musica/.gitkeep
!media/videos/.gitkeep

