# Ignorar todo el contenido de los directorios
media/musica/*
media/videos/*
media/imagenes/*

emision/obs-conf/*
emision/restreamer/*

# Datos dinámicos generados por la app
app/widget_player/now_playing.json

# Para mantener la estructura
!media/musica/.gitkeep
!media/videos/.gitkeep
!media/imagenes/.gitkeep

!emision/obs-conf/.gitkeep
!emision/restreamer/.gitkeep